<!-- Note: this is from PP -->
<br>
<!-- button placement -->
<div>
    <button onclick="topFunction()" id="scroll-button" class= "scroll-button">
        Back to Top
        <i class="fa-regular fa-circle-up"></i>
    </button>
</div>
<footer class = "footer link-styling-footer bold"> 
    <section class = "bottom-row"> 
        <div class = "border"> 
            <!-- for promotion/developer contact -->
            <div>
                <h2 class = "mini-container">Title</h2>
                <p class ="center-text-paragraph">Subsection</p>
                <ul class="center-text-line-items link-styling">
                    <li><a href="" target="'_blank"><img src="/img/[path]" alt=""></a></li>
                    <li><a href="">
                        <i class="fa-brands fa-github-alt"></i>
                    </a></li>
                    <li><a href="">
                        <i class="fa-brands fa-instagram-square"></i>
                    </a></li>
                    <li>Developer: Kit Fenrir Amreik (they/she)</li>
                    <li>Email: kitdamreik@gmail.com</li>
                </ul>
            </div>

            <!-- for information -->
            <div>
                <h2 class = "mini-container">Title</h2>
                <p>Subsection</p>
                <p class="center-text-paragraph">
                    <div class="left-text-line-items link-styling">
                        <a href="">Title</a>
                        <br>
                        <br>
                        <a href="">Title</a>
                        <br>
                        <br>
                        <a href="">Title</a>
                        <br>
                        <br>
                        <a href="">Title</a>
                    </div>
                </p>
            </div>

            <!-- for links -->
            <div class="link-styling link-styling-footer">
                <h2 class = "mini-container">Title</h2>
                <p class="center-text-paragraph">
                    <div class="left-text-line-items link-styling">
                        <a href="">Title</a>
                        <br>
                        <br>
                        <a href="">Title</a>
                        <br>
                        <br>
                        <a href="">Title</a>
                        <br>
                        <br>
                        <a href="">Title</a>
                    </div>
                </p>
            </div>
            <br>
            <!-- copyright -->
            <div>
                Copyright &copy; Kit Fenrir Amreik, 2022. All rights reserved.
            </div>
            <div class="foot-bar"> 

                <!-- if you want a form for the footer -->
                <h2 class = "mini-container">Form Title</h2>
                <form action="/[path for forms]" method="POST" type="text">
                    <legend>
                            <p> Note:  </p>
                            <p> Subnote </p>  
                    </legend>
                        <br>
                        <fieldset>
                            <label for="Label A">Label A</label>
                            <input type="text" name="Label A" id="Label A" placeholder="Label A" minlength="6" required/>
                        </fieldset>
                        <fieldset>
                            <label for="Email">Email Address</label>
                            <input type="Email" name="Email" id="Email" placeholder="Email Address" minlength="10" required/>
                        </fieldset>
                        <fieldset>
                            <label for="Phone">Phone Number</label>
                            <input type="number" name="Phone" id="Phone" placeholder="Phone Number" minlength="10" required/>
                        </fieldset>
                        <section class= "center-button">
                            <input type="submit" value="Submit" class="yellow-button link-styling">
                        </section>
                </form>
            </div>
        </div>
    </section>
</footer>
</body>
</html>
