<!-- the form that you send to entries.ejs -->

<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Create an Entry</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<h1>Create An Entry</h1>
<form action="/entries" method="POST">
    <div>
        <label for="test"> Test</label>
        <input type="text" name="test" id="test" minlength="1" required />
    </div>
    <div>
        <label for="test2"> Test 2</label>
        <input type="text" name="test2" id="test2" minlength="1" required />
    </div>
    <div>
        <label for="test3">Test 3</label>
        <input type="text" name="test3" id="test3" minlength="1" required />
    </div>
    <div>
        <label for="text1">Text here:</label>
        <textarea name="text1" id="text1" minlength="10" required></textarea>
    </div>
    <section class= "center-button">
        <input type="submit" value="Submit" class="yellow-button link-styling" />
    </section> 
</form>

<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 