<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Index Page</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Register Page</h1>
    </section>
    <form action="/" method="POST">
        <div>
            <label for="username">Username </label>
            <input type="text" name="username" id="username" required />
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" minlength="6" required />
        </div>
        <section class= "center-button">
            <button class="yellow-button link-styling">
                <a href="/login" role="button">Submit</a>
            </button>
        </section>
        <br>
        <section class= "center-button">
            <button class="yellow-button link-styling">
                <a href="/auth/google" role="button">Sign Up with Google</a>
            </button>
        </section>
    </form>
</div>

<!-- can substitute admin footer here -->
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 